.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 96%;
  height: 10%;
  background-color: orange;
  margin-bottom: 7px;
  padding: 2px;
  @include respond-to("large") {
    padding: 6px;
  }
  @include respond-to("xlarge") {
    padding: 10px;
  }
}
.contact-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  height: 10%;
  @include respond-to("small") {
    width: 50%;
  }
}
.link-color {
  color: #303030;
}
.link-color:visited {
  color: blue;
}
.link-color:hover {
  color: purple;
}
