.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-description {
  display: flex;
  flex-direction: column;
}
.project-details {
  display: flex;
  flex-direction: row;
}
