            <div class="introduction">
             <h1 class="greeting">👋Hello</h1>
             <h2 class="intro-description">My name is Deepa Akhil. I'm a self-directed learner making the transition 
            from the the events industry to web development. Currently seeking front end
             developer roles that provides space for growth,productivity and learning.</h2>
             </div>

            <header class="header">
                     <h1>Projects</h1>
            </header> 

      <section class="main">

        <div class="thumbnail">
            <div class="img-container">
                 <img class="spotify-img">
            </div>
            <div class="project"> 
                     <div class="project-description">
                        <h3>Spotify APP</h3> 
                        <p>Angular Html SASS</p>  
                    </div>  
                    <div class="project-details">    
                        <button>View code</button>
                        <button>View project</button>
                    </div>
                </div>

        </div>

        <div class="thumbnail">
            <div class="img-container">
                 <img class="Tracker-img">
            </div>
            <div class="project"> 
                     <div class="project-description">
                        <h3>IP-Adress-Tracker</h3> 
                        <p>NX-dev Html SASS</p>  
                    </div>  
                    <div class="project-details">    
                        <button>iew code</button>
                        <button>view project</button>
                    </div>
                </div>
                 </div>

            <div class="thumbnail">
            <div class="img-container">
                 <img class="weather-img">
            </div>
            <div class="project"> 
                     <div class="project-description">
                        <h3>Ngrx-Weather</h3> 
                        <p>Ngrx Html SASS</p>  
                    </div>  
                    <div class="project-details">    
                        <button>View code</button>
                        <button>View project</button>
                    </div>
                </div>
            </div>
            
                        
    </section>
        
    <footer class="footer"> 
    <div class="contact-section">
        <a class="linkdn" >               
        <i class="icons fa fa-linkedin-square fa-4x"
        aria-hidden="true"></i>
    </a>
    <a class="github" href="https://github.com/DeepaSekhar" >               
        <i class="icons fa fa-github fa-4x"
        aria-hidden="true"></i>

    </a>
    <a class="email" href="mailto:deepaakhiltvm@gmail.com">               
        <i class="icons fa fa-envelope-o fa-4x"
        aria-hidden="true"></i>

    </a>
</div>   
    </footer>

    


